@font-face{
	font-family: sensei;
	src: url(font/sensei.woff);
}

body,html{
	background-image:linear-gradient(to right , rebeccapurple, mediumpurple,#47525E);
	text-align: center;
	margin: 0;
	padding: 0;
}

#frm_cadastroAluno{
	text-align: center;
	width:40%;
	height: 70%;
	margin: 0 auto;
	padding:40px 20px 10px 20px;
	background-color: white;
	border: 2px black solid;
	border-radius: 20px;
	box-shadow: 2px 20px 30px black;
}
#frm_cadastroAluno label{
	font-weight: bold;
	font-size: 20px;
	padding-right: 10px;
	font-family: calibri;
	line-height: 40px;
}
h1{
	color: white;
	font-family: sensei;
	font-size: 40px;
}
h2{
	font-family: calibri;
}
input{
	width: 50%;
	height: 40px;
	border-radius: 30px;
	transition: 0.5s;
	border: none;
	border-bottom: 1px black solid;
}
input:hover{
	border-bottom: 2px black solid;
	width: 80%;
	transition: 0.5s;
}
input[type='radio']{
	width: 20px;
	height: 15px;
}
#cadastrar{
	width: 25%;
	background-color: #77D353;
	border:none;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	transition: 0.5s;
}
#cadastrar:hover{
	width: 40%;
	height: 60px;
	background-color: green;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 700;
	transition: 0.5s;
	color: white;
}