@font-face{
	font-family: 'sensei';
	src: url(font/sensei.woff);
}
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(rgb(2, 78, 2) green);
}
#titulo{
	text-align: center;
}
.container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.container button{
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	padding: 10px 10px;
	border: 3px solid black;
	border-radius: 10px;
	background: transparent;
	margin-top: 10px;
}
label{
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 20px;
}
.input-file-upload{
	display: flex;
	flex-direction: column;
}
.upload-btn{
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.btn{
	width: 500px;
	border: 2px dashed  black;
	font-size: 19px;
	font-weight: 700;
	color: black;
	text-align: center;
	padding: 19px 40px;
}
.upload-btn input[type=file]{
	font-size: 10px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	height: 100px;
	width: 500px;
}
.upload-img{
	display: inline-block;
	border:3px solid black;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	object-fit: cover;
	object-position: 50% 50%;
	vertical-align: middle;
	margin-top: 20px;
}
#logo1{
	position: absolute;
	margin: 0 auto;
	margin-bottom: 15px;
	top: 4px;
	left: 5px;
}
#btn_alterarFoto{
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	padding-right: 50px;
	background-color: transparent;
}
#nome_perfil{
	padding-right: 15px;
	font-size: 17px;
	font-family: sans-serif;
}
#ft_perfil{
	border: 2px black solid;
	border-radius: 30px;
	width: 40px;
	height: 40px;
}

#titulo{
	font-family: 'sensei';
	font-size: 150px;
	color: black;
	font-weight: bold;
}

