@font-face{
	font-family: 'sensei';
	src: url(font/sensei.woff);
}
*{
  box-sizing: border-box;
}
#logo1{
	position: absolute;
	margin: 0 auto;
	margin-bottom: 15px;
	top: 4px;
	left: 5px;
}
#btn_alterarFoto{
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	padding-right: 50px;
	background-color: transparent;
}
#nome_perfil{
	padding-right: 15px;
	font-size: 17px;
	font-family: sans-serif;
}
#ft_perfil{
	border: 2px black solid;
	border-radius: 30px;
	width: 40px;
	height: 40px;
}
body,html{
padding: 0;
margin: 0;
height:100%;
width: 100%;
text-align: center;
font-family: "Source Sans Pro", sans-serif;
font-size: 16px;
line-height: 1.43;
}
#titulo{
	font-family: 'sensei';
	font-size: 150px;
	color: black;
	font-weight: bold;
}
#texto{
	color: black;
	font-size: 100px;
	font-weight: 700;
	font-family: 'sensei';
}

#card{
	width: 280px;
	height: 280px;
	text-align: center;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 5%;
	background: gray;
}
#card #card-image{
	width: 100%;
	height: 100%;
	text-align: center;
}
#card #card-image img{
	width: 80%;
	height: 80%;
	text-align: center;
}
#card #card-conteudo{
	text-align: center;
}
#card #card-conteudo h1{
	font-size: 26px;
	font-weight: bold;
}