/* Main */

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#logo1{
	position: absolute;
	margin: 0 auto;
	margin-bottom: 15px;
	top: 4px;
	left: 5px;
}

h1{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3%;
    padding-top: 100px;
}
h3{
    font-size: 30px;
    font-family: arial;
}

.topo{
    background-color: rgb(80, 80, 255);
    height: 500px;
    color: white;
    text-align: center;
    margin-top: -3.5%;
}

.info{
    width: 30%;
    height: 50%;
    background-color: #fff;
    
    border-radius: .4rem;
    position: absolute;
    margin-left: 1%;
    margin-top: 4%;
    box-shadow: 20px 20px 18px rgba(1, 90, 192, 0.171);
}
.grafico{
    width: 64%;
    height: 50%;
    background-color: #fff;
    border-radius: .4rem;
    position: absolute;
    margin-left: 34%;
    margin-top: 4%;
    box-shadow: 20px 20px 18px rgba(1, 90, 192, 0.171);
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titulo{
    margin-top: 15%;
    text-align: center;
}
.comentarios{
    width: 100%;
    height: 40%;
    text-align: center;
}

/* Barra de Filtro */

.barra-filtro{
    width: 100%;
    height: 30px;
    text-align: left;
    margin: 0 auto;
    padding-left: 5%;
    padding-top: 5%;
    display: flex;
    gap: 20%;
}

.tipo{
    padding: 10px;
    width: 15%;
    font-size: 15px;
    height:50px;
    text-align: left;
}

.h2{
    font-size: 40px;
    text-align: right;
    width: 30%;
}

.titulo-comentario{
    font-size: 40px;
    text-align: left;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5rem;
}
.texto-comentario{
    font-size: 30px;
    text-align: left;
    font-family: arial;
    padding: 5rem;
}
.input-text{
    border-radius: .5rem;
    height: 50px;
    background-color: transparent;
}
.comentario{
    width: 25%;
    margin-left: 5rem;
}
.titulo{
    width: 20%;
}