@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@font-face {
	font-family: 'sensei';
	src: url(font/sensei.woff);
}
#logo1{
	position: absolute;
	margin: 0 auto;
	margin-bottom: 15px;
	top: 4px;
	left: 5px;
}
body{
	overflow-x: hidden;
}
/* Foto Navbar */

#btn_alterarFoto{
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	padding-right: 50px;
  background-color: transparent;
}
#nome_perfil{
	padding-right: 15px;
	font-size: 17px;
	font-family: sans-serif;
	color: black;
}
#ft_perfil{
	border: 2px black solid;
	border-radius: 30px;
	width: 40px;
	height: 40px;
}

/* ------------- Bloco do Formulario ------------- */

/* bloco-form */

.bloco-form{
  background-color: #fff;
  padding: 20px;
  text-align: left;
  border-radius: 2rem;
  border: 1px solid black;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #868686;
  width: 90%;
}

/* linha-blocos */

.linha-blocos, .linha-itens{
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  gap: 20px;
  width: 1200px;
  margin-bottom: 5rem;
}
.linha-forms{
	margin-left: 4rem;
}

.bloco-itens{
	margin-bottom: 2rem;
}

/* div-info */

.div-info{
  box-shadow: 10px 10px 5px #868686;
  border: 1px solid black;
  padding: 20px;
  width: 710px;
  height: 1150px;
  border-radius: 2rem;
}

/* div-contato e div-endereco */

.div-contato,.div-endereco{
  box-shadow: 10px 10px 5px #868686;
  border: 1px solid black;
  margin-left: 5rem;
  padding: 20px;
  width: 400px;
  border-radius: 2rem;
}

/* direita e esquerda */

.div-esquerda{
	margin-right: 20rem;
	width: 50%;
	margin-left: 20px;
}
.div-direita{
	margin-left: -20%;
	width: 50%;
}

/* inputs e labels*/

input,select{
	width: 300px;
	height: 50px;

}

input[type="radio"]{
	width: 20px;
	height: 20px;
}

label{
	color:rgb(2, 155, 155);
	font-family: 'sensei';
	font-size: 30px;
	margin-right: 2rem;
}

.label-radio{
	color: black;
	font-size: 25px;
}

.textarea-desc{
    width: 600px;
	height: 400px;
}


/* botao */

.div-botao{
	margin-top: 5rem;
	width: 85rem;
	text-align: center;
}
.div-botao .btn-alt{
	width: 700px;
	height: 70px;
	background-color: rgb(6, 138, 138);
	color: white;
	font-family: 'sensei';
	border: none;
	border-radius: .5rem;
	font-size: 35px;
}

/* Div de Titulo */

.centralizado{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    margin-top: 3rem;
	margin-bottom: 5%;
	margin-left: 5%;
}

.bloco-foto{
    margin-left: 2rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 10px 10px 10px rgb(119, 119, 119)
}
.bloco-boasVindas{
    margin-left: -75rem;
	margin-top: 6rem;
    color: rgb(6, 138, 138);
    font-family: 'sensei';
	float: right;
}
.titulo{
    font-size: 80px;
}
.subtitulo{
	font-size: 40px;
}
.foto-aluno{
	width: 300px;
	height: 300px;
}
#alter_perfil #file-input{
	visibility: hidden;
	width: 100%;
  }

.bloco-foto{
	margin-top: 5rem;
	margin-left: 5rem;
	height: 300px;
	outline: green 2px solid;
}

.label-foto{
	height: 300px;
	width: 300px;
}