@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@font-face {
	font-family: 'sensei';
	src: url(font/sensei.woff);
}
#logo1{
	position: absolute;
	margin: 0 auto;
	margin-bottom: 15px;
	top: 4px;
	left: 5px;
}

/* Foto Navbar */

#btn_alterarFoto{
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: none;
	padding-right: 50px;
  background-color: transparent;
}
#nome_perfil{
	padding-right: 15px;
	font-size: 17px;
	font-family: sans-serif;
}
#ft_perfil{
	border: 2px black solid;
	border-radius: 30px;
	width: 40px;
	height: 40px;
}

/* ------------- Bloco do Formulario ------------- */

/* bloco-form */

.bloco-form{
  background-color: #fff;
  padding: 20px;
  text-align: left;
  border-radius: 2rem;
  border: 1px solid black;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #868686;
}

/* linha-blocos */

.linha-blocos{
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  gap: 20px;
  width: 1200px;
}

/* div-info */

.div-info{
  width: 1200px;
  height: 600px;
}

/* div-contato e div-endereco */

.div-contato,.div-endereco{
  width: 45%;
  height: 400px;
}